@model IEnumerable<CShop.Models.Cart>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="min-height:9em;"></div>

<!-- //short-->
<!--Checkout-->
<!-- //banner -->
<!-- top Products -->
<script>
           
                 function delete1(id1)
                 {
                     $.post('@Url.Action("DeleteCart")', { id: id1 }, function (data) {
                         window.location.href='@Url.Action("Cart")';
                         
                     });
                 }
             

</script>

<section class="checkout py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="shop_inner_inf">
            <div class="privacy about" style="text-align:center;">
                <h3>Chec<span>kout</span></h3>
                <div class="checkout-right">
                    <table class=" table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>SL No.</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                                @foreach (var c in Model)
                                {
                                    if (c.uid.Equals(Session["email"].ToString()))
                                    {
                                <tr class="rem1">
                                <td class="invert">@Html.DisplayFor(modelItem => c.CartID)</td>
                                <td class="invert-image"><a href="single.html"><img src="~/Content/image1/map/@Html.DisplayFor(modelItem => c.image)"  class="img-responsive" style="width:150px;height:150px;"></a></td>
                                <td class="invert">@Html.DisplayFor(modelItem => c.qty)</td>
                                <td class="invert">@Html.DisplayFor(modelItem => c.pname)</td>
                                <td class="invert">@Html.DisplayFor(modelItem => c.price)</td>
                                <td class="invert">
                                    <div class="rem"  >
                                        <button  onclick="delete1('@Html.DisplayFor(modelItem => c.CartID)')">Delete </button>
                                    </div>
                                                       </td>
                            </tr>

                                    }
                                }
                            <tr><td>
                                </td>
                                <td></td>
                                <td></td>
                                
                                <td></td>
                            
                                @{ int i = 0;}
                                @foreach (var c in Model)
                                {
                                    if (c.uid.Equals(Session["email"].ToString()))
                                    {

                                        i = i + Convert.ToInt32(c.price);
                                    }
                                }
                                <td><h2>total:@i</h2></td>
                            <td></td>
                            </tr>
                        </tbody>
                    </table>
               
                </div>
                <div class="checkout-left">
                    <div class="col-md-8 address_form">
                        <h4>Add a new Details</h4>
                        <form action="payment.html" method="post" class="creditly-card-form agileinfo_form">
                            <section class="creditly-wrapper wrapper">
                                <div class="information-wrapper">
                                    <div class="first-row form-group">
                                        <div class="controls">
                                            <label class="control-label">Full name: </label>
                                            <input class="billing-address-name form-control" type="text" name="name" placeholder="Full name">
                                        </div>
                                        <div class="card_number_grids">
                                            <div class="card_number_grid_left">
                                                <div class="controls">
                                                    <label class="control-label">Mobile number:</label>
                                                    <input class="form-control" type="text" placeholder="Mobile number">
                                                </div>
                                            </div>
                                            <div class="card_number_grid_right">
                                                <div class="controls">
                                                    <label class="control-label">Landmark: </label>
                                                    <input class="form-control" type="text" placeholder="Landmark">
                                                </div>
                                            </div>
                                            <div class="clear"> </div>
                                        </div>
                                        <div class="controls">
                                            <label class="control-label">Town/City: </label>
                                            <input class="form-control" type="text" placeholder="Town/City">
                                        </div>
                                        <div class="controls">
                                            <label class="control-label">Address type: </label>
                                            <select class="form-control option-w3ls">
                                                <option>Office</option>
                                                <option>Home</option>
                                                <option>Commercial</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button class="submit check_out">Delivery to this Address</button>
                                </div>
                            </section>
                        </form>
                        <div class="checkout-right-basket">
                            <a href="payment.html">Make a Payment </a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- //top products -->
    </div>
</section>

<!--//subscribe-->
<!-- footer -->
<footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
    <div class="copy-agile-right">
        <p>
            © 2018 Toys-Shop. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a>
        </p>
    </div>
</footer>
<!-- //footer -->
<!-- Modal 1-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="register-form">
                    <form action="#" method="post">
                        <div class="fields-grid">
                            <div class="styled-input">
                                <input type="text" placeholder="Your Name" name="Your Name" required="">
                            </div>
                            <div class="styled-input">
                                <input type="email" placeholder="Your Email" name="Your Email" required="">
                            </div>
                            <div class="styled-input">
                                <input type="password" placeholder="password" name="password" required="">
                            </div>
                            <button type="submit" class="btn subscrib-btnn">Login</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- //Modal 1-->
<!--js working-->
<script src='~/Content/js/jquery-2.2.3.min.js'></script>
<!--//js working-->
<!-- cart-js -->
<script src="js/minicart.js"></script>
<script>
         toys.render();

         toys.cart.on('toys_checkout', function (evt) {
         	var items, len, i;

         	if (this.subtotal() > 0) {
         		items = this.items();

         		for (i = 0, len = items.length; i < len; i++) {}
         	}
         });
</script>
<!--// cart-js -->
<!--quantity-->
<script>
         $('.value-plus').on('click', function () {
         	var divUpd = $(this).parent().find('.value'),
         		newVal = parseInt(divUpd.text(), 10) + 1;
         	divUpd.text(newVal);
         });

         $('.value-minus').on('click', function () {
         	var divUpd = $(this).parent().find('.value'),
         		newVal = parseInt(divUpd.text(), 10) - 1;
         	if (newVal >= 1) divUpd.text(newVal);
         });
</script>
<!--quantity-->
<!--closed-->
<script>
         $(document).ready(function (c) {
         	$('.close1').on('click', function (c) {
         		$('.rem1').fadeOut('slow', function (c) {
         			$('.rem1').remove();
         		});
         	});
         });
</script>
<script>
         $(document).ready(function (c) {
         	$('.close2').on('click', function (c) {
         		$('.rem2').fadeOut('slow', function (c) {
         			$('.rem2').remove();
         		});
         	});
         });
</script>
<script>
         $(document).ready(function (c) {
         	$('.close3').on('click', function (c) {
         		$('.rem3').fadeOut('slow', function (c) {
         			$('.rem3').remove();
         		});
         	});
         });
</script>
<!--//closed-->
<!-- start-smoth-scrolling -->
<script src="~/Content/js/move-top.js"></script>
<script src="~/Content/js/easing.js"></script>
<script>
         jQuery(document).ready(function ($) {
         	$(".scroll").click(function (event) {
         		event.preventDefault();
         		$('html,body').animate({
         			scrollTop: $(this.hash).offset().top
         		}, 900);
         	});
         });
</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
<script>
         $(document).ready(function () {

         	var defaults = {
         		containerID: 'toTop', // fading element id
         		containerHoverID: 'toTopHover', // fading element hover id
         		scrollSpeed: 1200,
         		easingType: 'linear'
         	};
         	$().UItoTop({
         		easingType: 'easeOutQuart'
         	});

         });
</script>
<!-- //here ends scrolling icon -->
<!--bootstrap working-->
<script src="~/Content/js/bootstrap.min.js"></script>
<!-- //bootstrap working-->
   